CRUD/CRUD/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58603/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58603/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58603/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRUD" />
      <xsd:import schemaLocation="http://localhost:58603/Service1.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_InsertUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectUserDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateRegistrationTable_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRegistrationTable" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateRegistrationTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRegistrationTableResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="InsertUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertUserDetails" message="tns:IService1_InsertUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertUserDetailsResponse" message="tns:IService1_InsertUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectUserDetails" message="tns:IService1_SelectUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectUserDetailsResponse" message="tns:IService1_SelectUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteUserDetails" message="tns:IService1_DeleteUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteUserDetailsResponse" message="tns:IService1_DeleteUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRegistrationTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateRegistrationTable" message="tns:IService1_UpdateRegistrationTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateRegistrationTableResponse" message="tns:IService1_UpdateRegistrationTable_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertUserDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUserDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRegistrationTable">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateRegistrationTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:58603/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>